/* * {
    border: 3px solid red;
}
*/
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    
    
}
header {
    background-color: #1F2937;
    color: white ;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    
    
}

nav {
    display: flex;    
    margin: 0;
}

ul {
    display: flex;
}

ul > li {
    list-style: none;
    
}
a {
    color: white;
    font-size: 16px;
    text-decoration: none;
   }


.box-one {
    background-color: #1F2937;
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
    
    
}

.inner-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
    
}

.box-one > p {
    color:whitesmoke;

}

.image-placeholder {
    background-color: grey;
    width: 400px;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button {
    color: white;
    background: #3882F6;
    border-radius: 10%;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 16px;
}

/* the above is complete layout wise but font size needs to be tweaked, add buffer of navy blue at end of this section */

.random {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.middle {
    display: flex;
    justify-content: center;
}

.blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.empty-blue-box {
    border:solid 5px #3882F6;
    padding: 75px;
    border-radius: 10%;
    
    
}

.empty {
    text-align: center;
}
/* the above is complete */

.quote {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.quote-text {
    font-style: italic;
    display: flex;
    align-items: flex-end;
    width: 50%;
    flex-direction: column;
    font-size: 28px;
    font-weight: 100;
}

.quote-of-thor {
    font-style: normal;
    font-weight: bold;
}

/* quote section is complete!*/

.action {
    background-color: #3882F6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: white;
    
}

.action-text {
    text-align: left;
    flex: 1;
}

.footer {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
